* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    max-height: 100vh;
}

.letter-v {
    color: green;
}

.letter-e {
    color: blue;
}

.letter-j {
    color: orange;
}

header {
    text-align: center;
}