* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100vw;
}

main {
    height: auto;
    width: auto;
}

header {
    display:flex;
    align-items: center;
    width: 100vw;
    height: 10vh;
}

h1 {
    margin-left: 7%;
    font-size: 24px;
}

ul {
    display: flex;
    margin-left: 23%;
}

a{
    text-decoration: none;
    color: cadetblue;
}

li {
    margin-right: 40px;
    list-style-type: none;
}

.div-line {
    width: 89%;
    margin-left: 113px;
}

.container-content {
    display: inline-block;
    width: 50vw;
    height: 60vh;
    margin-left: 7%;
    margin-top: 8%;
}

h2 {
    width: 700px;
    font-size: 30px;
}

p{
    width: 600px;
    font-size: 20px;
    margin-top: 20px;
    text-align: justify;
}

button {
    font-size: 16px;
    font-weight: 9px;
    width: 150px;
    height: 60px;
    margin-top: 80px;
    margin-left: 10%;
    padding: 1px;
    border: none;
    border-radius: 10px 0 10px 0;
    background-color: cadetblue;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

a:hover {
    text-decoration: underline;
}

.consult {
    background-color: green;
}

aside {
    height: 60vh;
    width: 43vw;
    display: inline-block;
    position: absolute;
}

img {
    position: relative;
    height: 75vh;
    width: 38vw;
    top: 30px;
}